<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Fahad's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- NAVBAR -->
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.ico') }}" alt="Logo" class="logo-img">
            <h2>Fahad</h2>
        </div>
        <h2>CoreXtra</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <button id="toggle-theme">Dark mode🌙</button>
    </nav>

    <!-- CONTACT SECTION -->
    <section id="contact">
        <h2>Thanks For Your Message</h2>
        <p id="form-response" class="response"></p>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
